@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
}

.primary-header {
  font-size: 35px;
  margin: 50px 0;
}

.primary-btn {
  background: #cdcdcd;
  border: #cdcdcd 1px solid;
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.shopping-list-input {
  border: 1px solid #cdcdcd;
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.items-list {
  list-style: none;
  background: #deaa88;
  width: 320px;
  padding: 5px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}

.items-list:not(:nth-child(2n + 1)) {
  background: #ffc594;
  padding: 5px 5px;
  border-radius: 5px;
}
.items-list p {
  margin: 0;
}

ul {
  padding-left: 0;
}

ul .items-list p {
  margin-left: 10px;
}

.shopping-card-div {
  width: 330px;
}

.shopping-card-div ul li {
  background: #89cff0;
}

.shopping-card-div ul li div {
  display: flex;
  justify-content: space-between;
}

.shopping-card-div ul li:not(:nth-child(2n + 1)) {
  background: #b0dfe5;
}

span {
  font-size: 14px;
  font-weight: 600;
}
